In [3]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('part_r_00000_CNA.csv')

In [8]:
df.head(5)

,acct_ccy,acct_id,bal_aftr_bookg,bal_aftr_bookg_nmrc,bookg_amt,bookg_amt_nmrc,bookg_cdt_dbt_ind,bookg_dt_tm_cet,bookg_dt_tm_gmt,booking_id,...,ctpty_ctry,ctpty_nm,dtld_tx_tp,end_to_end_id,ntry_seq_nb,rmt_inf_ustrd1,rmt_inf_ustrd2,tx_acct_svcr_ref,tx_tp,year_month
0,GBP,GB37FAKE3149785039,3239.0,323900,3044.0,304400,CRDT,2013-02-01 09:00:00,2013-02-01 09:00:00,47ea75c2-f7fa-4cdb-8cc7-967e8acca048,...,Japan,Geldmaat ATM,2222,9a910c6c-9077-439b-966f-7f37a3c27359,3806,Geldmaat: 21fa8307-45aa-44de-a141-319568b19fc8,NaN,b88603a3-b250-4d15-9cc8-1e4e6cbd4b04,NaN,201302
1,GBP,GB37FAKE3149785039,6283.0,628300,3044.0,304400,CRDT,2013-02-01 09:00:00,2013-02-01 09:00:00,f3434ad1-d5b6-4490-97c6-5063113ed5aa,...,Japan,Geldmaat ATM,2222,c7f1d981-4218-42d1-8144-950ec3dbfae1,4649,Geldmaat: 9e6ea85d-74ca-44eb-892c-477ebb5140ca,NaN,78be221c-203c-43ad-9449-7675e74c00c4,NaN,201302
2,EUR,NL12FAKE4031529538,6279.0,627900,4570.0,457000,CRDT,2013-02-01 09:00:00,2013-02-01 09:00:00,96dea8b1-d7b5-4881-bf05-d6f2b303dca3,...,Great Britain,Geldmaat ATM,2222,726cee2c-fb73-4056-ada4-675245ca50b6,9285,Geldmaat: 451d0ab0-df6b-47d7-adec-90bbe2ad365d,NaN,1d06d66d-f2c4-406d-b035-946edac2670e,NaN,201302
3,EUR,NL12FAKE4031529538,10849.0,1084900,4570.0,457000,CRDT,2013-02-01 09:00:00,2013-02-01 09:00:00,4103ac91-9c00-4f72-a6e7-2bfafa6b8674,...,Great Britain,Geldmaat ATM,2222,4e37e1bc-9627-4d6b-90ea-e26b7a34b14f,10184,Geldmaat: b830e219-62d0-4792-91de-d3fa1f02a4a7,NaN,1abca185-3239-4dd5-ae9f-3e471e781d4d,NaN,201302
4,EUR,NL12FAKE1845242763,11280.0,1128000,2272.0,227200,CRDT,2013-02-01 09:00:00,2013-02-01 09:00:00,28a77371-a27c-4af1-80fd-bbe26393a1f8,...,NL,Geldmaat ATM,2222,9c1e6840-bcd7-40a3-b5f9-8695525ce9e0,61150,Geldmaat: 4adf6948-e8c4-41b8-9d7b-f5690489de67,NaN,9bc2c495-3212-4930-bc4d-1427656c126e,NaN,201302